<html>
    <head>
        <title>$i18n.getText('statuses-time-sum-cf.configure.title')</title>
        <meta content="admin" name="decorator"/>
        <link rel="stylesheet" type="text/css" media="print" href="/styles/combined-printable.css">
        <link type="text/css" rel="StyleSheet" media="all" href="/styles/combined.css"/>
    </head>
    <body>
        <h2 class="formtitle">$i18n.getText('statuses-time-sum-cf.configure.title')</h2>
        <form action="StatusesDataEditConfiguration.jspa" method="post">
            <input type="hidden" name="fieldConfigId" value="$fieldConfigId">
            <table>
            <!-- <tr>
                    <td>$i18n.getText('statuses-time-sum-cf.configure.compfield'):</td>
                    <td>
                        <select id="compareField" name="compareField">
                            <option value="">-</option>
                            #foreach($cf in $action.getDefinedCustomFields())
                            <option #if($cf.getId() == $action.getCompareField())selected="selected"#end value="$cf.getId()">$cf.getName()</option>
                            #end
                        </select>
                    </td>
                </tr> -->
                <tr>
                    <td>$i18n.getText('statuses-time-sum-cf.configure.statuses'):</td>
                    <td>
                        <select id="statuses" name="statuses" multiple="multiple">
                            #foreach($status in $action.getDefinedStatuses())
                            <option #if($action.isStatus($status.getId()))selected="selected"#end value="$status.getId()">$status.getNameTranslation($i18n)</option>
                            #end
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" name="Save" id="Save" value="$i18n.getText('common.words.done')" accesskey="S" title="Press Ctrl+S to submit form" class="spaced"/>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>