#if($statuses && $statuses.size() > 0)
<table border="1">
    #if($!compareField)
    <tr>
        <td>$i18n.getText('statuses-time-sum-cf.configure.compfield')</td>
        <td>$compareField</td>
    </tr>
    #end
    <tr>
        <td>$i18n.getText('statuses-time-sum-cf.configure.statuses')</td>
        <td>
            <table>
                #foreach($status in $statuses)
                <tr><td>$status</td></tr>
                #end
            </table>
        </td>
    </tr>
</table>
#end