$webResourceManager.requireResourcesForContext("jira.view.issue")
<table class="collector-gridtable" width="100%">
    <thead>
        <tr>
            <th class="collector-gridtable" width="20%">$i18n.getText("datacollector.usertab")</th>
            <th class="collector-gridtable" width="80%">$i18n.getText("datacollector.taskstatustime")</th>
        </tr>
    </thead>
    <tbody>
        #foreach($entry in $usersData.entrySet())
        <tr>
            <td class="collector-gridtable" width="20%">
                $helper.renderUser($entry.key)
                <span>($helper.renderSpentTime($report.getIssueTotalTime($entry.value)))</span>
            </td>
            <td class="collector-gridtable" width="80%">
                <table class="collector-gridtable" width="100%">
                    #set($issuedata = $entry.value)
                    #foreach($idata in $issuedata)
                    <tr>
                        <td class="collector-gridtable" width="40%">
                            <a href="../browse/$idata.getKey()">$idata.display()</a>
                            <span>($helper.renderSpentTime($idata.getTotalTime()))</span>
                        </td>
                        <td class="collector-gridtable" width="60%">
                            <table class="in-collector-gridtable" width="100%">
                                #set($userinfo = $idata.getData())
                                <tbody>
                                #foreach($user in $userinfo)
                                    #set($statuses = $user.getStatuses())
                                    #foreach($entrystatus in $statuses.entrySet())
                                    <tr>
                                        <td class="collector-gridtable" width="40%">
                                            $helper.renderStatus($entrystatus.key)
                                        </td>
                                        <td class="collector-gridtable" width="60%">
                                        #if($dataranges)
                                            <table>
                                                #foreach($daterange in $entrystatus.value)<tr><td>$helper.renderDate($daterange)</td></tr>#end
                                                <tr><td>$i18n.getText("datacollector.alltime"): $helper.renderSpentTime($user.getStatusTime($entrystatus.key))</td></tr>
                                            </table>
                                        #else
                                            $helper.renderSpentTime($user.getStatusTime($entrystatus.key))
                                        #end
                                        </td>
                                    </tr>
                                    #end
                                #end
                                <tbody>
                            </table>
                        </td>
                    </tr>
                    #end
                </table>
            </td>
        </tr>
        #end
    </tbody>
</table>