#if($cfName) ## with groups
<table border="1" width="100%">
    <thead>
        <tr>
            <th bgcolor="#dedede" width="20%">$i18n.getText("datacollector.grouper") - $cfName</th>
            <th bgcolor="#dedede" width="80%">#if($isUserStatus)$i18n.getText("datacollector.taskstatususertime")#else$i18n.getText("datacollector.taskuserstatustime")#end</th>
        </tr>
    </thead>
    #foreach($issueGroup in $issueGroupsData.entrySet())
    <tr>
        <td width="20%">
        #if($issueGroup.key != "noGroupValue")$issueGroup.key#end
        <span>($helper.renderSpentTime($issueGroupSum.get($issueGroup.key)))</span>
        </td>
        <td width="80%">
            <table border="1" width="100%">
                #foreach($issuegroup in $issueGroup.value)
                #set($idata = $issuegroup)
                #if($idata)
                <tr>
                    <td width="30%">
                    $idata.display()
                    <span>($helper.renderSpentTime($idata.getTotalTime()))</span>
                    </td>
                    <td width="70%">
                        #if($isUserStatus)
                            #set($userinfo = $idata.getData())
                            <table border="1" width="100%">
                                <tbody>
                                    #foreach($user in $userinfo)
                                    <tr>
                                        <td width="30%">
                                        $helper.renderUserRaw($user.getUser())
                                        <span>($helper.renderSpentTime($user.getTotalTime()))</span>
                                        </td>
                                        <td width="70%">
                                            <table border="1" width="100%">
                                                #set($statuses = $user.getStatuses())
                                                #foreach($entry in $statuses.entrySet())
                                                <tr>
                                                    <td width="40%">$helper.renderStatusRaw($entry.key)</td>
                                                    <td width="60%">
                                                        #if($dataranges)
                                                        <table>
                                                            #foreach($daterange in $entry.value)<tr><td>$helper.renderDate($daterange)</td></tr>#end
                                                            <tr><td>$i18n.getText("datacollector.alltime"): $helper.renderSpentTime($user.getStatusTime($entry.key))</td></tr>
                                                        </table>
                                                        #else
                                                        $helper.renderSpentTime($user.getStatusTime($entry.key))
                                                        #end
                                                    </td>
                                                </tr>
                                                #end
                                            </table>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                            </table>
                        #else
                            #set($statusinfo = $idata.getData())
                            <table border="1" width="100%">
                                <tbody>
                                    #foreach($status in $statusinfo)
                                    <tr>
                                        <td width="30%">
                                        $helper.renderStatusRaw($status.getStatus())
                                        <span>($helper.renderSpentTime($status.getTotalTime()))</span>
                                        </td>
                                        <td width="70%">
                                            <table border="1" width="100%">
                                                #set($users = $status.getUsers())
                                                #foreach($entry in $users.entrySet())
                                                <tr>
                                                    <td width="40%">$helper.renderUserRaw($entry.key)</td>
                                                    <td width="60%">
                                                        #if($dataranges)
                                                        <table>
                                                            #foreach($daterange in $entry.value)<tr><td>$helper.renderDate($daterange)</td></tr>#end
                                                            <tr><td>$i18n.getText("datacollector.alltime"): $helper.renderSpentTime($status.getUserTime($entry.key))</td></tr>
                                                        </table>
                                                        #else
                                                        $helper.renderSpentTime($status.getUserTime($entry.key))
                                                        #end
                                                    </td>
                                                </tr>
                                                #end
                                            </table>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                            </table>
                        #end
                    </td>
                </tr>
                #end
                #end
            </table>
        </td>
    </tr>
    #end
</table>
#else ## without groups
    #if($isUserStatus) ## User Statuses
    <table border="1" width="100%">
        <thead>
            <tr>
                <th bgcolor="#dedede" width="30%">$i18n.getText("datacollector.issuetab")</th>
                <th bgcolor="#dedede" width="70%">$i18n.getText("datacollector.statususertime")</th>
            </tr>
        </thead>
        #foreach($entry in $data.entrySet())
        <tr>
            <td width="30%">
            $entry.value.display()
            <span>($helper.renderSpentTime($entry.value.getTotalTime()))</span>
            </td>
            <td width="70%">
                #set($userinfo = $entry.value.getData())
                <table border="1" width="100%">
                    <tbody>
                        #foreach($user in $userinfo)
                        <tr>
                            <td width="30%">
                            $helper.renderUserRaw($user.getUser())
                            <span>($helper.renderSpentTime($user.getTotalTime()))</span>
                            </td>
                            <td width="70%">
                                <table border="1" width="100%">
                                    #set($statuses = $user.getStatuses())
                                    #foreach($entry in $statuses.entrySet())
                                    <tr>
                                        <td width="40%">$helper.renderStatusRaw($entry.key)</td>
                                        <td width="60%">
                                            #if($dataranges)
                                            <table>
                                               #foreach($daterange in $entry.value)<tr><td>$helper.renderDate($daterange)</td></tr>#end
                                               <tr><td>$i18n.getText("datacollector.alltime"): $helper.renderSpentTime($user.getStatusTime($entry.key))</td></tr>
                                            </table>
                                            #else
                                            $helper.renderSpentTime($user.getStatusTime($entry.key))
                                            #end
                                        </td>
                                    </tr>
                                    #end
                                </table>
                            </td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </td>
        </tr>
        #end
        <tr><td colspan="2" width="30%">$i18n.getText("datacollector.alltime"): $helper.renderSpentTime($totalData)</td></tr>
    </table>
    #else ## Status Users
    <table border="1" width="100%">
        <thead>
            <tr>
                <th width="30%">$i18n.getText("datacollector.issuetab")</th>
                <th width="70%">$i18n.getText("datacollector.userstatustime")</th>
            </tr>
        </thead>
        #foreach($entry in $data.entrySet())
        <tr>
            <td width="30%">
            $entry.value.display()
            <span>($helper.renderSpentTime($entry.value.getTotalTime()))</span>
            </td>
            <td width="70%">
                #set($statusinfo = $entry.value.getData())
                <table border="1" width="100%">
                    <tbody>
                        #foreach($status in $statusinfo)
                        <tr>
                            <td width="30%">
                            $helper.renderStatusRaw($status.getStatus())
                            <span>($helper.renderSpentTime($status.getTotalTime()))</span>
                            </td>
                            <td width="70%">
                                <table border="1" width="100%">
                                    #set($users = $status.getUsers())
                                    #foreach($entry in $users.entrySet())
                                    <tr>
                                        <td width="40%">$helper.renderUserRaw($entry.key)</td>
                                        <td width="60%">
                                            #if($dataranges)
                                            <table>
                                                #foreach($daterange in $entry.value)<tr><td>$helper.renderDate($daterange)</td></tr>#end
                                                <tr><td>$i18n.getText("datacollector.alltime"): $helper.renderSpentTime($status.getUserTime($entry.key))</td></tr>
                                            </table>
                                            #else
                                            $helper.renderSpentTime($status.getUserTime($entry.key))
                                            #end
                                        </td>
                                    </tr>
                                    #end
                                </table>
                            </td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </td>
        </tr>
        #end
        <tr><td colspan="2" width="30%">$i18n.getText("datacollector.alltime"): $helper.renderSpentTime($totalData)</td></tr>
    </table>
    #end
#end