$webResourceManager.requireResourcesForContext("jira.view.issue")
#if($cfName) ## with groups
<table class="collector-gridtable" width="100%">
    <thead>
        <tr>
            <th class="collector-gridtable" width="20%">$i18n.getText("datacollector.grouper") - $cfName</th>
            <th class="collector-gridtable" width="80%">#if($isUserStatus)$i18n.getText("datacollector.taskuserstatustime")#else$i18n.getText("datacollector.taskstatususertime")#end</th>
        </tr>
    </thead>
    #foreach($issueGroup in $issueGroups.entrySet())
    
    <tr>
        <td class="collector-gridtable" width="20%">
            #if($issueGroup.key != "noGroupValue")$issueGroup.key#end
        </td>
        <td class="collector-gridtable" width="80%">
            <table class="collector-gridtable" width="100%">
                #foreach($issuegroup in $issueGroup.value)
                #set($idata = $data.get($issuegroup))
                #if($idata)
                <tr>
                    <td class="collector-gridtable" width="30%">
                        <a href="../browse/$issuegroup">$idata.display()</a>
                    </td>
                    <td class="collector-gridtable" width="70%">
                        #if($isUserStatus)
                            #set($userinfo = $idata.getData())
                            <table class="collector-gridtable" width="100%">
                                <tbody>
                                    #foreach($user in $userinfo)
                                    <tr>
                                        <td class="collector-gridtable" width="30%">
                                            $helper.renderUser($user.getUser())
                                        </td>
                                        <td class="collector-gridtable" width="70%">
                                            <table class="in-collector-gridtable" width="100%">
                                                #set($statuses = $user.getStatuses())
                                                #foreach($entry in $statuses.entrySet())
                                                <tr>
                                                    <td class="in-collector-gridtable" width="40%">
                                                        $helper.renderStatus($entry.key)
                                                    </td>
                                                    <td class="in-collector-gridtable" width="60%">
                                                        <table>
                                                            #if(!$dataranges)
                                                            #foreach($daterange in $entry.value)<tr><td>$helper.renderDate($daterange)</td></tr>#end
                                                            #end
                                                            <tr><td>$i18n.getText("datacollector.alltime"): $helper.renderSpentTime($user.getStatusTime($entry.key))</td></tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                #end
                                                <tr>
                                                    <td class="collector-gridtable" colspan="2" width="40%">$i18n.getText("datacollector.alltime"): $helper.renderSpentTime($user.getTotalTime())</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    #end
                                    <tr><td class="collector-gridtable" colspan="2" width="30%">$i18n.getText("datacollector.alltime"): $helper.renderSpentTime($idata.getTotalTime())</td></tr>
                                </tbody>
                            </table>
                        #else
                            #set($statusinfo = $idata.getData())
                            <table class="collector-gridtable" width="100%">
                                <tbody>
                                    #foreach($status in $statusinfo)
                                    <tr>
                                        <td class="collector-gridtable" width="30%">
                                            $helper.renderStatus($status.getStatus())
                                        </td>
                                        <td class="collector-gridtable" width="70%">
                                            <table class="in-collector-gridtable" width="100%">
                                                #set($users = $status.getUsers())
                                                #foreach($entry in $users.entrySet())
                                                <tr>
                                                    <td class="in-collector-gridtable" width="40%">
                                                        $helper.renderUser($entry.key)
                                                    </td>
                                                    <td class="in-collector-gridtable" width="60%">
                                                        <table>
                                                            #if(!$dataranges)
                                                            #foreach($daterange in $entry.value)<tr><td>$helper.renderDate($daterange)</td></tr>#end
                                                            #end
                                                            <tr><td>$i18n.getText("datacollector.alltime"): $helper.renderSpentTime($status.getUserTime($entry.key))</td></tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                #end
                                                <tr>
                                                    <td class="collector-gridtable" colspan="2" width="40%">$i18n.getText("datacollector.alltime"): $helper.renderSpentTime($status.getTotalTime())</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    #end
                                    <tr><td class="collector-gridtable" colspan="2" width="30%">$i18n.getText("datacollector.alltime"): $helper.renderSpentTime($idata.getTotalTime())</td></tr>
                                </tbody>
                            </table>
                        #end
                    </td>
                </tr>
                <tr><td class="collector-gridtable" colspan="2" width="30%">$i18n.getText("datacollector.alltime"): $helper.renderSpentTime($totalData)</td></tr>
                #end
                #end
            </table>
        </td>
    </tr>
    #end
</table>
#else ## without groups
    #if($isUserStatus) ## User Statuses
    <table class="collector-gridtable" width="100%">
        <thead>
            <tr>
                <th class="collector-gridtable" width="30%">$i18n.getText("datacollector.issuetab")</th>
                <th class="collector-gridtable" width="70%">$i18n.getText("datacollector.statususertime")</th>
            </tr>
        </thead>
        #foreach($entry in $data.entrySet())
        <tr>
            <td class="collector-gridtable" width="30%">
                <a href="../browse/$entry.key">$entry.value.display()</a>
            </td>
            <td class="collector-gridtable" width="70%">
                #set($userinfo = $entry.value.getData())
                <table class="collector-gridtable" width="100%">
                    <tbody>
                        #foreach($user in $userinfo)
                        <tr>
                            <td class="collector-gridtable" width="30%">
                                $helper.renderUser($user.getUser())
                            </td>
                            <td class="collector-gridtable" width="70%">
                                <table class="in-collector-gridtable" width="100%">
                                    #set($statuses = $user.getStatuses())
                                    #foreach($entry in $statuses.entrySet())
                                    <tr>
                                        <td class="collector-gridtable" width="40%">
                                            $helper.renderStatus($entry.key)
                                        </td>
                                        <td class="collector-gridtable" width="60%">
                                            <table>
                                               #if(!$dataranges)
                                               #foreach($daterange in $entry.value)<tr><td>$helper.renderDate($daterange)</td></tr>#end
                                               #end
                                               <tr><td>$i18n.getText("datacollector.alltime"): $helper.renderSpentTime($user.getStatusTime($entry.key))</td></tr>
                                            </table>
                                        </td>
                                    </tr>
                                    #end
                                    <tr>
                                        <td class="collector-gridtable" colspan="2" width="40%">$i18n.getText("datacollector.alltime"): $helper.renderSpentTime($user.getTotalTime())</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        #end
                        <tr><td class="collector-gridtable" colspan="2" width="30%">$i18n.getText("datacollector.alltime"): $helper.renderSpentTime($entry.value.getTotalTime())</td></tr>
                    </tbody>
                </table>
            </td>
        </tr>
        #end
        <tr><td class="collector-gridtable" colspan="2" width="30%">$i18n.getText("datacollector.alltime"): $helper.renderSpentTime($totalData)</td></tr>
    </table>
    #else ## Status Users
    <table class="collector-gridtable" width="100%">
        <thead>
            <tr>
                <th class="collector-gridtable" width="30%">$i18n.getText("datacollector.issuetab")</th>
                <th class="collector-gridtable" width="70%">$i18n.getText("datacollector.userstatustime")</th>
            </tr>
        </thead>
        #foreach($entry in $data.entrySet())
        <tr>
            <td class="collector-gridtable" width="30%">
                <a href="../browse/$entry.key">$entry.value.display()</a>
            </td>
            <td class="collector-gridtable" width="70%">
                #set($statusinfo = $entry.value.getData())
                <table class="collector-gridtable" width="100%">
                    <tbody>
                        #foreach($status in $statusinfo)
                        <tr>
                            <td class="collector-gridtable" width="30%">
                                $helper.renderStatus($status.getStatus())
                            </td>
                            <td class="collector-gridtable" width="70%">
                                <table class="in-collector-gridtable" width="100%">
                                    #set($users = $status.getUsers())
                                    #foreach($entry in $users.entrySet())
                                    <tr>
                                        <td class="collector-gridtable" width="40%">
                                            $helper.renderUser($entry.key)
                                        </td>
                                        <td class="collector-gridtable" width="60%">
                                            <table>
                                                #if(!$dataranges)
                                                #foreach($daterange in $entry.value)<tr><td>$helper.renderDate($daterange)</td></tr>#end
                                                #end
                                                <tr><td>$i18n.getText("datacollector.alltime"): $helper.renderSpentTime($status.getUserTime($entry.key))</td></tr>
                                            </table>
                                        </td>
                                    </tr>
                                    #end
                                    <tr>
                                        <td class="collector-gridtable" colspan="2" width="40%">$i18n.getText("datacollector.alltime"): $helper.renderSpentTime($status.getTotalTime())</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        #end
                        <tr><td class="collector-gridtable" colspan="2" width="30%">$i18n.getText("datacollector.alltime"): $helper.renderSpentTime($entry.value.getTotalTime())</td></tr>
                    </tbody>
                </table>
            </td>
        </tr>
        #end
        <tr><td class="collector-gridtable" colspan="2" width="30%">$i18n.getText("datacollector.alltime"): $helper.renderSpentTime($totalData)</td></tr>
    </table>
    #end
#end