<table class="collector-gridtable" width="100%">
    <thead>
        <tr>
            <th class="collector-gridtable" width="20%">$i18n.getText("datacollector.statustab")</th>
            <th class="collector-gridtable" width="80%">$i18n.getText("datacollector.timeusertab")</th>
        </tr>
    </thead>
    <tbody>
    #foreach($status in $statusinfo)
    <tr>
        <td class="collector-gridtable" width="20%">
            $helper.renderStatus($status.getStatus())
        </td>
        <td class="collector-gridtable" width="80%">
            <table class="in-collector-gridtable" width="100%">
                #set($users = $status.getUsers())
                #foreach($entry in $users.entrySet())
                <tr>
                    <td class="in-collector-gridtable" width="40%">
                        $helper.renderUser($entry.key)
                    </td>
                    <td class="in-collector-gridtable" width="60%">
                        <table>
                        #foreach($daterange in $entry.value)<tr><td>$helper.renderDate($daterange)</td></tr>#end
                        <tr><td>$i18n.getText("datacollector.alltime"): $helper.renderSpentTime($status.getUserTime($entry.key))</td></tr>
                        </table>
                    </td>
                </tr>
                #end
            </table>
        </td>
    </tr>
    #end
    </tbody>
</table>